.contenedor-menu{
    display: flex;
    justify-content: space-between;
    height: 0px;
}

.contenedor-menu img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    margin-top: 10px;
    margin-left: 20px;
    z-index: 0;
}
.contenedor-menu a{
    margin-top: 10px;
    margin-right: 20px;


}

.sidenav{
    z-index: ;
}
.slider{
    z-index: -1;

}
.slider, .slides{
    height: 100vh!important;
}
.slides .li1:before{
    content: "";
    height: 100%;
    width: 100%;

    position: absolute;
    opacity: 0.9;
    color: black;

    background: rgba(90,130,91,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(90,130,91,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(90,130,91,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(90,130,91,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(90,130,91,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(90,130,91,1) 0%, rgba(32,124,229,1) 100%);
    background: radial-gradient(ellipse at center, rgba(90,130,91,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a825b', endColorstr='#207ce5', GradientType=1 );


}
.slides .li2:before{
    content: "";
    height: 100%;
    width: 100%;

    position: absolute;
    opacity: 0.7;
    color: black;

    background: rgba(84,118,255,1);
    background: -moz-linear-gradient(left, rgba(84,118,255,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,118,255,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(left, rgba(84,118,255,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(left, rgba(84,118,255,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(84,118,255,1) 0%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to right, rgba(84,118,255,1) 0%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5476ff', endColorstr='#91e842', GradientType=1 );


}
.slides .li3:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.7;
    color: black;

    background: rgba(212,103,8,1);
    background: -moz-linear-gradient(left, rgba(212,103,8,1) 0%, rgba(76,255,97,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,103,8,1)), color-stop(100%, rgba(76,255,97,1)));
    background: -webkit-linear-gradient(left, rgba(212,103,8,1) 0%, rgba(76,255,97,1) 100%);
    background: -o-linear-gradient(left, rgba(212,103,8,1) 0%, rgba(76,255,97,1) 100%);
    background: -ms-linear-gradient(left, rgba(212,103,8,1) 0%, rgba(76,255,97,1) 100%);
    background: linear-gradient(to right, rgba(212,103,8,1) 0%, rgba(76,255,97,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d46708', endColorstr='#4cff61', GradientType=1 );
}
.slides .li4:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
    opacity: 0.8;
    color: black;

    background: rgba(54,50,54,1);
    background: -moz-linear-gradient(left, rgba(54,50,54,1) 0%, rgba(176,12,176,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,50,54,1)), color-stop(100%, rgba(176,12,176,1)));
    background: -webkit-linear-gradient(left, rgba(54,50,54,1) 0%, rgba(176,12,176,1) 100%);
    background: -o-linear-gradient(left, rgba(54,50,54,1) 0%, rgba(176,12,176,1) 100%);
    background: -ms-linear-gradient(left, rgba(54,50,54,1) 0%, rgba(176,12,176,1) 100%);
    background: linear-gradient(to right, rgba(54,50,54,1) 0%, rgba(176,12,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363236', endColorstr='#b00cb0', GradientType=1 );

}


.slides h3{
    font-family: 'Staatliches', cursive;
    color: #4a148c;
    border-color: white 2px solid;
}

.slides h5{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: #4a148c!important;

}

